/*Combinators*/

/* 1 descendant selector*/

div p{
    background-color: rgb(250, 158, 158);
    color: white;
}

/* 2 child selector*/
 div > p{
    background-color: yellowgreen;
    color: white;
 }

 /* 3 Adjacent sibling selector*/

 div + p{
    background-color:hotpink;
 }

 /* 4 General Sibling Selector*/

 div ~ p{
    background-color: lightsalmon;
 }