/*CSS Media Type*/

*{
   box-sizing: border-box;
}



li{
   list-style-type: none;
   display: inline-block;
   background-color: dodgerblue;
   padding: 10px;
   width: 200px;
   margin: 40px;
   text-align: center;
}

li a{
   text-decoration: none;
   padding: 20px;
}

@media screen and (max-with:500px){
   li{
      display: block;
      width: 100%;
   }   
}